* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f1f1f1;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 30vw;
    text-align: center;

    p {
        color: white;
        padding: 10px;
        font-size: 8px;
    }

    a {
        color: white;
    }
}

#background-image {
    position: absolute;
    height: 100vh;
    width: 30vw;
    object-fit: cover;
    z-index: -1;
}

#logo-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    background: rgba(0, 0, 0, 0.4);
    margin-top: 100px;
    height: 80px;

    h1 {
        color: white;
        font-size: 2rem;
    }
}

#logo {
    width: 50px;
}

main {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#leading-info {
    width: 65%;
    height: 20%;

    h2 {
        font-size: 1rem;
        padding: 0 20px;
        margin-bottom: 10px;
    }
}

form {
    border: 2px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
    
    h2 {
        font-size: 1rem;
    }

    label {
        display: flex;
        flex-direction: column;
        width: 80%;
        font-size: 0.6rem;
        font-weight: 700;
    }   
    
    button {
        width: 20%;
        padding: 8px 10px;
        background-color: darkolivegreen;
        color: white;
        font-size: 0.7rem;
        font-weight: 700;
        border: none;
        cursor: pointer;
        border-radius: 4px;
    }
}

#input-area {
    border: 2px solid black;
    height: 80%;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin: 10px 0;
}